@page
@model LoginModel

@{
    ViewData["Title"] = "Entrar";
}

<h1 class="text-center" style="padding-top:90px">@ViewData["Title"]</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <section>
                <form id="account" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Senha</label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                Guardar
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Esqueceu sua senha?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrar como um novo usuário</a>
                        </p>

                    </div>
                </form>
            </section>
        </div>
        <div class="col-md-6">
            <div>
                <br />
                <div class="text-info">
                    @{ string email = "cliente@fish.com";}
                    @{ string senha = "@Bc123";}

                    <h5>Você pode utilizar a seguinte conta para testes no site:</h5>
                    <h5 class="font-weight-bold">Conta: @email</h5>
                    <h5 class="font-weight-bold">Senha: @senha</h5>
                    <br />
                    <h5>Ou crie uma nova conta. As funcionalidades de email estão desabilitadas para evitar o uso para spam, logo, nenhum email será direcionado.</h5>
                </div>
                
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
