@model FishStore.Models.ViewModels.OrderDetailsCart
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="padding-top:60px"></h1>
<form method="post">
    @if (Model.listCart.Count > 0)
    {
        <div class="jumbotron">
            <div class="bg-white border rounded p-4">

                <input id="userId" asp-for="@Model.listCart[0].ApplicationUserId" hidden />
                <div class="container">
                    <div class="card">
                        <div class="card-header bg-dark ml-0 text-light row container">
                            <div class="col-6">
                                <i class="fa fa-shopping-cart"></i> &nbsp;
                                Carrinho
                            </div>
                            <div class="col-6 text-right">
                                <a asp-area="Customer" asp-controller="Home" asp-action="Products" class="btn btn-outline-light">Continuar Comprando</a>
                            </div>
                        </div>
                        <div class="card-body ml-0">
                            @foreach (var item in Model.listCart)
                            {
                                <div class="row">
                                    <div class="d-none d-lg-block col-lg-2 py-2 text-center">
                                        <img src="@item.StoreItem.Image" class="rounded" width="120" height="90" />
                                    </div>
                                    <div class="col-12 text-sm-center col-lg-5 text-lg-left">
                                        <h4><strong>@item.StoreItem.Name</strong></h4>
                                        <h5>@item.StoreItem.Description</h5>
                                    </div>
                                    <div class="col-12 text-sm-center col-lg-5 text-lg-right row">
                                        <div class="col-4 text-md-right" style="padding-top:5px;">
                                            <h6><strong>@item.StoreItem.Price.ToString("C2") <span class="text-muted">x</span> @item.Count</strong></h6>
                                        </div>
                                        <div class="col-6 col-sm-4 col-lg-6">
                                            <div class="float-right mx-1">
                                                <button type="submit" class="btn btn-primary" asp-action="plus" asp-route-cartId="@item.Id">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </div>
                                            <div class="float-right mx-1">
                                                <button type="submit" class="btn btn-danger" asp-action="minus" asp-route-cartId="@item.Id">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-2 col-sm-4 col-lg-2 text-right">
                                            <button type="submit" class="btn btn-outline-danger" asp-action="remove" asp-route-cartId="@item.Id">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                            }

                            <div class="row">
                                <div class="col-12 col-md-5">
                                    <div class="row">
                                        <div class="col-7">
                                            <input asp-for="@Model.OrderHeader.PostalCode" id="txtPostalCode" class="form-control" placeholder="CEP" />
                                        </div>
                                        <div class="col-5" style="margin-top:2px;">
                                            <button type="submit" class="btn btn-sm form-control btn-outline-success" id="btnPostal" asp-action="AddPostalCode">
                                                Calcular Frete
                                            </button>
                                            <button type="submit" class="btn btn-sm form-control btn-outline-danger" style="display:none;" id="btnRemovePostal" asp-action="RemovePostalCode">
                                                Remover
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 offset-md-1 col-lg-4 offset-lg-3 pr-4">
                                    <ul class="list-group">
                                        <li class="list-group-item d-flex justify-content-between bg-light">
                                            <span class="text-info">Total(BR)</span>
                                            <strong class="text-info"><span id="txtOrderTotal">@Model.OrderHeader.OrderTotal.ToString("C2")</span></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                            <div class="col-12 col-lg-4 offset-lg-8 col-md-6 offset-md-6">
                                @if (Model.OrderHeader.PostalPrice > 0)
                                {
                                    <a asp-action="Summary" asp-area="Customer" asp-controller="Cart" class="btn btn-success form-control">Finalizar Compra</a>
                                }
                                else
                                {
                                    <a href="#" class="btn btn-success form-control">Finalizar Compra</a>
                                    <p class="text-danger bg-ligth rounded text-center pt-2 font-weight-bold">Informe um CEP válido!</p>
                                }

                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    }
    else
    {
        <div class="jumbotron">
            <h3 class="font-weight-bold text-center">Carrinho não possui nenhum item.</h3>
        </div>
    }

</form>
